<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%blue{%d{yyyy-MM-dd HH:mm:ss}} [%t] %highlight{%-5level} %magenta{%c{1.}} - %msg%n" />
    </Console>
  </Appenders>
  <Loggers>

    <Logger name = "com.pawan" level = "DEBUG"/>
    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>


